
<div id="login">
<div id="signin">USER LOGIN</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <fieldset id="inputs">
    <%= f.email_field :email, id: "username", placeholder:"E-mail" %>
     <%= f.password_field :password, id:"password", placeholder: "Password" %>
    </fieldset>
  
  
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me, id: "remember_me_square"%>
      <%= f.label :remember_me, id: "remember_me_label"%>  
    <% end -%>

  <div class="actions">
    <%= f.submit "Log in" , id: "submit"%>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>