<h2>Continent: <%= @coin.coin_set.country.continent.name %></h2>
<h2>Country: <%= @coin.coin_set.country.name %></h2>
<h2>Coin Set: <%= @coin.coin_set.years %></h2>
<h2>Nominal: <%= @coin.nominal %></h2>
<h2>Currency: <%= @coin.currency %></h2>

<button class="btn btn-danger center-block"><%= link_to 'Add a piggy bank', coin_add_path(@coin)%></button>
