
<%= render 'layouts/flash_message' %>
<h2>Continent: <%= @coin.coin_set.country.continent.name %></h2>
<h2>Country: <%= @coin.coin_set.country.name %></h2>
<h2>Coin Set: <%= @coin.coin_set.years %></h2>
<h2>Nominal: <%= @coin.nominal %></h2>
<h2>Currency: <%= @coin.currency %></h2>


